# Ignorar archivos de logs
backend/sistema-hoteles-be/logs/myapp.log*

# Ignorar caché de eslint en node_modules
frontend/sistema_hoteles/node_modules/.cache/.eslintcache

# Ignorar archivos de logs
logs/myapp.log*

# Ignorar caché de eslint
frontend/sistema_hoteles/node_modules/.cache/.eslintcache

backend/sistema-hoteles-be/logs/*.log
