name: SonarQube Analysis

on:
  pull_request:
    branches:
      - '**'  # Ejecuta el an치lisis en cualquier rama para verificar antes de mergear
  push:
    branches:
      - '**'  # Ejecuta el an치lisis en cada push para verificar el c칩digo enviado

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Cache Maven packages
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven

    - name: Run SonarQube Analysis
      working-directory: Hotel/backend/sistema-hoteles-be  # Directorio donde est치 el pom.xml
      run: |
        mvn clean verify sonar:sonar \
          -Dsonar.projectKey=ARQ-PROJECT \
          -Dsonar.projectName="ARQ PROJECT" \
          -Dsonar.projectVersion=1.0 \
          -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
          -Dsonar.login=${{ secrets.SONAR_LOGIN }} \
          -Dsonar.projectToken=${{ secrets.SONAR_PROJECT_TOKEN }}

    - name: Archive results
      if: always()
      uses: actions/upload-artifact@v2
      with:
        name: sonar-results
        path: target/

    - name: Quality Gate
      run: |
        mvn sonar:quality-gate \
          -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
          -Dsonar.login=${{ secrets.SONAR_LOGIN }}
